{% extends "layout.html" %}
{% block body %}
  <h3>Регистрация</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>Ник:
      <dd><input type=text name=username>
      <dt>Пароль:
        <dd><input type=password name=password>
      <dt>Имя:
        <dd><input type=Name name=Name>
      <dt>Фамилия:
        <dd><input type=Surname name=Surname>
      <dd><input type=submit value=Register>
    </dl>
  </form>
{% endblock %}
